<div id="reg-container">
  <form
    id="signup"
    (ngSubmit)="onSignup(f)"
    #f="ngForm"
    appMustmatch
    novalidate
  >
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr />
      <label for="email"><b>Email</b></label>
      <input
        class="form-control"
        type="text"
        ngModel
        #emailInput="ngModel"
        [(ngModel)]="email"
        placeholder="Enter Email"
        name="email"
        id="email"
        email
        required
      />
      <div
        *ngIf="emailInput.invalid && (f.submitted || emailInput.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput.errors?.['email']">Email is not correct.</div>
      </div>

      <label for="psw"><b>Password</b></label>
      <input
        class="form-control"
        type="password"
        name="password"
        ngModel
        minlength="8"
        #passwordInput="ngModel"
        [(ngModel)]="password"
        placeholder="Enter Password"
        id="psw"
        required
      />
      <div
        *ngIf="passwordInput.invalid && (f.submitted || passwordInput.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="passwordInput.errors?.['required']">
          Password is required.
        </div>
      </div>

      <label for="cpsw"><b>Confirm Password</b></label>
      <input
        class="form-control"
        type="password"
        name="confirm_password"
        ngModel
        minlength="8"
        #confirmPasswordInput="ngModel"
        [(ngModel)]="confirm_password"
        placeholder="Enter Password"
        id="cpsw"
        required
      />
      <div
        *ngIf="
          confirmPasswordInput.invalid &&
          (f.submitted || confirmPasswordInput.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="confirmPasswordInput.errors?.['required']">
          Confirm password is required.
        </div>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="f.errors?.['passwordMismatch'] && (f.touched || f.dirty)"
      >
        Passwords does not match
      </div>
      <hr />
      <button
        type="submit"
        class="registerbtn"
        [disabled]="f.invalid"
        [ngClass]="{ disabledbtn: f.invalid }"
      >
        Register
      </button>
    </div>

    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
</div>
